<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Distance API</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'styles.css')}}"/>
  </head>
  <body>
    <section>
      <div class="distance-div">
        <form action="#" method="POST">
          <input
            type="text"
            name="orgin"
            id="orgin"
            placeholder="Enter orgin"
          /><br /><br />
          <input
            type="text"
            name="destination"
            id="destination"
            placeholder="Enter destination"
          /><br /><br />
          <input type="submit" value="Submit" class="button" />
        </form>
      </div>
    </section>
    <div class="div-class">
        The time taken to cover between <strong>{{data['origin_addresses']}}</strong> and <strong>{{data['destination_addresses']}}</strong> is <strong>{{data['rows'][0]['elements'][0]['duration']['text']}}</strong> and the distance is <strong>{{data['rows'][0]['elements'][0]['distance']['text']}}</strong>
    </div>
  </body>
</html>
